/* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */
#contactForm {
    background:#e3eddc ;
    width: 67%;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries*/
/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
 @media only screen and (orientation:portrait ){
     #contactForm{
         --bs-bg-opacity: unset!important;
         background-color: unset!important;
         border: none!important;
         width: 100%!important;
     }
     #contactForm div{
         width: 100%!important;
     }
     .modal-dialog {
         margin : 0;
         position: relative;

     }
     .modal-content {
         width : 100vw;
         position: fixed;
         top: 50%;
     }

}

.modal-backdrop{
    height: 100%;
}
/* START OF PAGE ANIMATION CODE */
body::before{
    background-image: url("../Images/adam.png");
    transition: 1s ease-in-out;
    background-size: 2000px;
    back
    background-position: center;
}

body.loaded::before{
background-size: 0;
    background-position: center;
}
/* END oF PAGE ANIMATION CODE */

#formModal{
    z-index: 100000000;
}



@keyframes hinge1 {
    0% {
        opacity: 1;
        transform: rotate(0) translateX(100%);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    20%, 60% {
        opacity: 1;
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    40% {
        opacity: 1;
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    80% {
        transform: rotate(60deg) translateY(0);
        opacity: 1;
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(700px);
        opacity: 0;
    }
}

@keyframes hinge2{
    0% {
        opacity: 1;
        transform: rotate(0) translateX(100%);
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }
    20%, 60% {
        transform: rotate(-100deg);
        opacity: 1;
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }
    40% {
        transform: rotate(-80deg);
        opacity: 1;
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }
    80% {
        transform: rotate(-100deg) translateY(0);
        opacity: 1;
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(700px);
        opacity: 0;
    }
}

 body.modal-open main #contactForm div div.form-floating:nth-child(1){
    animation: hinge1 1.4s;
     opacity: 0;
}
body.modal-open main #contactForm div div.form-floating:nth-child(2){
    animation: hinge2 2.7s;
    opacity: 0;
}
body.modal-open main #contactForm div div.form-floating:nth-child(3){
    animation: hinge1 1.2s;
    opacity: 0;
}
body.modal-open main #contactForm div div.form-floating:nth-child(4){
    animation: hinge2 .25s;
    opacity: 0;
}
body.modal-open main #contactForm div button.btn{
    animation: hinge1 1.65s;
    opacity: 0;
}
