 /* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */
 @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
 /*custom font*/

 .inspiration{
     font-family: 'Inspiration', cursive;
    font-size: 72px;
 }
@media only screen and (orientation:portrait ) {
    .inspiration{
        font-size: 50px!important;
    }
}

#navbar-navElm{
    background-color: #f7ffd9 !important;
    z-index: 1000!important;
/*    https://stackoverflow.com/questions/43542922/how-to-avoid-bootstrap-css-overriding-the-custom-css*/
}
#header-headerElm{
    background-color: #E8F2BE!important;
}
header{
    height: 7em;
}
*{
    box-sizing: border-box;

}
body,html {
    margin: 0;
    padding: 0;
}
body{
/*    🍺     */
    filter: blur(1.15px);
    cursor: url('../Images/beer.cur'), auto!important;
/*    🍺     */
}
/*https://stackoverflow.com/questions/44645465/when-using-height-100vh-for-the-container-vertical-scrollbar-appears*/
a.logo-link:hover{
    animation: spin .75s infinite ease-in-out;
}
@keyframes spin {
    0%{
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }

}
main{
    min-height: 60vh;
}
.footer{
    position: sticky;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
/*    the gradient shows there is stuff below to scroll to*/
/*    I used https://cssgradient.io/ */
}


 /*if you click and hold the page get mad*!*/
 body{
     position: relative;
     display: block;
 }
 body:after {

     background: url("../Images/mad_site.jpg") no-repeat fixed center top;
     background-origin: border-box;
     background-size: cover;
     content: "";
     opacity: 0;
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     /* TRANSISITION */
     transition: opacity 100s ease-in-out !important;
     -webkit-transition: opacity 100s ease-in-out!important;
     -moz-transition: opacity 100s ease-in-out!important;
     -o-transition: opacity 100s ease-in-out!important;
     z-index: -100;
 }
 body:active:after{
     opacity: 1;
 }
 /* end of if you click and hold the page get mad code!*/
body.batmanclose{
    transform: scale(0.005) rotate(-.5turn)!important;
}

