/* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */
/*https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries*/
/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
#carouselAutoplaying {
    width: 50%;
}
.card{
    min-width: 300px;
}
.card:hover, .card:focus{
    animation: 1s infinite cardAnimate linear;
}
@media only screen and (orientation:portrait ) {
    #carouselAutoplaying {
    width: 90% !important;
    }
    .card{
        min-width: 300px;
    }
}

@keyframes cardAnimate {
0%{
    transform: rotateZ(0deg);
}

20%{
    transform: rotate(-10deg);
}
    40%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-10deg);
    }
80%{
    transform: rotate(10deg);
}
    100%{
        transform: rotate(0deg);
    }
}
/* START OF PAGE ANIMATION CODE */
body{

   transform: rotateY(91deg);

}
body.loaded{
    transform: rotateY(0deg) !important;
}
/* END oF PAGE ANIMATION CODE */


.drunkBee{
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    animation: drunkFlying 75s infinite linear;
    z-index: 2000;
    offset-path: path('M 206.708 23.09 C 238.408 21.742 301.807 19.044 332.929 33.303 C 364.051 47.561 362.894 78.775 334.956 96.887 C 307.017 114.999 252.297 120.008 224.551 102.474 C 196.805 84.941 196.035 44.863 217.037 24.439 C 238.039 4.015 280.813 3.245 317.422 21.549 C 354.031 39.854 384.475 77.233 417.616 104.786 C 450.756 132.339 486.595 150.066 520.892 136.963 C 555.188 123.861 587.944 79.931 577.924 53.534 C 567.905 27.137 515.111 18.273 471.951 39.661 C 428.791 61.048 395.264 112.686 391.218 147.176 C 387.172 181.665 412.605 199.007 455.188 200.548 C 497.77 202.09 557.5 187.831 597 159.122 C 636.499 130.413 655.766 87.253 681.393 66.636 C 707.019 46.02 739.003 47.946 758.079 67.022 C 777.154 86.097 783.32 122.32 775.035 148.91 C 766.75 175.5 744.013 192.455 716.075 181.28 C 688.136 170.105 654.996 130.798 656.345 99.584 C 657.693 68.37 693.532 45.249 733.416 58.736 C 773.301 72.224 817.231 122.32 857.501 145.057 C 897.771 167.793 934.38 163.168 975.228 155.076 C 1016.076 146.983 1061.163 135.423 1086.211 117.889 C 1111.26 100.355 1116.269 76.848 1106.057 62.397 C 1095.845 47.946 1070.412 42.551 1058.08 62.397 C 1045.749 82.243 1046.519 127.33 1065.402 147.561 C 1084.284 167.793 1121.279 163.168 1145.556 148.717 C 1169.834 134.266 1181.394 109.989 1214.15 101.318 C 1246.905 92.648 1300.856 99.584 1311.838 118.66 C 1322.821 137.735 1290.836 168.949 1265.98 159.122 C 1241.125 149.296 1223.398 98.428 1169.641 99.777 C 1115.884 101.126 1026.095 154.69 978.311 160.085 C 930.527 165.48 924.746 122.706 952.299 124.247 C 979.852 125.789 1040.739 171.646 1087.367 162.205 C 1133.995 152.764 1166.366 88.023 1213.572 83.014 C 1260.778 78.004 1322.821 132.725 1271.375 140.818 C 1219.93 148.91 1054.997 110.374 958.658 114.806 C 862.318 119.237 834.573 166.636 789.871 157.58 C 745.17 148.524 683.512 83.014 696.037 56.039 C 708.561 29.064 795.266 40.624 836.114 76.848 C 876.962 113.072 871.953 173.958 830.141 207.292 C 788.33 240.625 709.717 246.406 629.563 209.219 C 549.408 172.032 467.712 91.877 372.914 78.39 C 278.116 64.902 170.215 118.082 109.907 120.779 C 49.598 123.477 36.882 75.692 41.313 46.02 C 45.745 16.347 67.325 4.786 101.044 32.339 C 134.763 59.892 180.62 126.559 233.607 126.366 C 286.594 126.174 346.709 59.121 323.395 61.434 C 300.081 63.746 193.337 135.422 166.362 182.243 C 139.387 229.064 192.181 251.03 232.258 248.525 C 272.335 246.02 299.696 219.045 282.162 176.463 C 264.628 133.881 202.2 75.692 160.196 88.409 C 118.192 101.126 96.612 184.748 135.726 225.018 C 174.84 265.288 274.647 262.205 334.956 215.962 C 395.264 169.719 416.074 80.316 456.922 84.362 C 497.77 88.409 558.656 185.904 551.527 236.964 C 544.398 288.024 469.254 292.649 427.442 244.286 C 385.631 195.924 377.153 94.574 407.596 43.514 C 438.039 -7.546 507.404 -8.316 557.115 44.863 C 606.826 98.043 636.884 205.172 682.356 261.242 C 727.828 317.312 788.715 322.321 834.38 275.115 C 880.044 227.909 910.488 128.486 880.815 74.922 C 851.143 21.357 761.354 13.649 706.441 66.636 C 651.527 119.623 631.489 233.303 679.08 277.042 C 726.672 320.78 841.894 294.575 904.322 242.359 C 966.75 190.143 976.384 111.916 993.147 105.172 C 1009.91 98.428 1033.803 163.168 1032.261 199.777 C 1030.72 236.386 1003.745 244.864 984.67 218.66 C 965.594 192.455 954.419 131.569 966.172 91.106 C 977.925 50.643 1012.608 30.605 1047.483 20.971 C 1082.358 11.337 1117.425 12.108 1138.62 49.103 C 1159.815 86.097 1167.136 159.315 1198.158 163.554 C 1229.179 167.793 1283.9 103.052 1277.349 64.709 C 1270.798 26.366 1202.975 14.42 1157.888 60.856 C 1112.801 107.291 1090.45 212.109 1102.203 260.471 C 1113.957 308.833 1159.814 300.741 1191.414 283.014 C 1223.013 265.288 1240.354 237.927 1253.649 190.721 C 1266.944 143.515 1276.192 76.462 1237.271 54.304 C 1198.35 32.146 1111.26 54.883 1074.073 93.419 C 1036.886 131.954 1049.602 186.29 1090.45 216.925 C 1131.298 247.561 1200.277 254.498 1160.2 227.715 C 1120.123 200.933 970.989 140.432 852.685 150.644 C 734.38 160.856 646.903 241.781 565.4 248.91 C 483.897 256.039 408.367 189.373 406.055 145.249 C 403.743 101.126 474.648 79.546 530.718 91.492 C 586.787 103.438 628.021 148.91 672.53 151.415 C 717.038 153.919 764.823 113.457 830.912 94.96 C 897 76.462 981.394 79.931 1001.24 110.181 C 1021.086 140.432 976.384 197.465 903.937 195.153 C 831.49 192.841 731.297 131.183 736.692 92.455 C 742.087 53.726 853.07 37.927 928.022 38.505 C 1002.974 39.083 1041.895 56.038 888.523 91.684 C 735.15 127.33 389.484 181.665 238.516 173.573 C 87.548 165.48 131.278 94.96 153.143 59.699 C 175.008 24.439 175.008 24.439 175.008 24.439 C 175.008 24.439 175.008 24.439 206.708 23.09');
}
.drunkBee2{
    transition: 1s;
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    animation: drunkFlying 75s infinite linear;
    z-index: 2000;
offset-path: path("M -8.59017 55.6543 C -21.6923 77.6197 -47.8967 121.55 -87.2032 144.479 C -126.51 167.408 -178.918 169.335 -182.964 149.874 C -187.011 130.414 -142.694 89.566 -106.085 84.3637 C -69.4763 79.1613 -40.5747 109.605 -51.9428 141.011 C -63.311 172.418 -114.949 204.788 -160.807 188.603 C -206.664 172.418 -246.741 107.677 -288.938 102.475 C -331.134 97.2727 -375.451 151.608 -367.551 187.639 C -359.651 223.67 -299.535 241.397 -266.394 212.109 C -233.253 182.822 -227.088 106.522 -189.901 107.485 C -152.714 108.448 -84.5053 186.676 -121.692 183.207 C -158.879 179.739 -301.462 94.575 -376.414 95.7312 C -451.366 96.8873 -458.688 184.364 -403.004 227.524 C -347.32 270.684 -228.629 269.528 -174.486 221.358 C -120.344 173.189 -130.748 78.0053 -125.161 92.8415 C -119.573 107.678 -97.993 232.533 -177.762 258.159 C -257.531 283.786 -438.649 210.182 -526.896 159.701 C -615.143 109.219 -610.518 81.8583 -605.509 107.485 C -600.499 133.111 -595.104 211.724 -616.492 216.734 C -637.879 221.743 -686.049 153.15 -718.805 142.167 C -751.56 131.184 -768.901 177.813 -786.049 167.793 C -803.198 157.774 -820.153 91.107 -796.646 101.897 C -773.14 112.687 -709.17 200.934 -654.064 257.582 C -598.958 314.229 -552.715 339.278 -528.245 299.008 C -503.775 258.738 -501.077 153.15 -567.744 143.131 C -634.411 133.111 -770.443 218.661 -837.495 215.192 C -904.547 211.724 -902.62 119.238 -872.947 122.706 C -843.275 126.174 -785.856 225.597 -684.315 279.354 C -582.773 333.112 -437.107 341.204 -396.452 287.64 C -355.797 234.075 -420.152 118.853 -510.711 134.075 C -601.27 149.296 -718.034 294.962 -750.982 298.044 C -783.93 301.127 -733.062 161.628 -629.786 161.049 C -526.511 160.471 -370.826 298.815 -424.006 299.393 C -477.185 299.971 -739.229 162.783 -871.406 127.909 C -1003.58 93.0337 -1005.9 160.471 -940.193 224.633 C -874.489 288.796 -740.77 349.682 -679.691 310.183 C -618.612 270.684 -630.172 130.799 -624.199 133.689 C -618.226 136.579 -594.719 282.245 -622.85 285.52 C -650.981 288.796 -730.75 149.681 -703.197 103.824 C -675.644 57.966 -540.769 105.365 -472.946 178.776 C -405.123 252.186 -404.353 351.609 -479.883 327.524 C -555.413 303.439 -707.244 155.847 -786.05 148.333 C -864.855 140.818 -870.636 273.381 -773.526 325.982 C -676.415 378.584 -476.415 351.223 -425.355 286.869 C -374.295 222.514 -472.175 121.165 -583.929 72.0318 C -695.683 22.8987 -821.309 25.9813 -898.188 78.968 C -975.067 131.955 -1003.2 234.845 -955.028 306.329 C -906.859 377.813 -782.388 417.891 -690.673 367.216 C -598.958 316.542 -539.999 175.115 -481.81 169.913 C -423.621 164.711 -366.202 295.732 -365.817 331.185 C -365.431 366.638 -422.079 306.522 -427.666 238.314 C -433.254 170.105 -387.782 93.8047 -336.144 115.77 C -284.506 137.736 -226.703 257.967 -233.061 278.777 C -239.419 299.586 -309.94 220.973 -459.458 191.3 C -608.977 161.628 -837.495 180.895 -937.495 227.716 C -1037.5 274.537 -1008.98 348.912 -988.362 363.363 C -967.745 377.814 -955.029 332.341 -979.692 290.53 C -1004.35 248.719 -1066.4 210.568 -1092.79 215.385 C -1119.19 220.202 -1109.94 267.987 -1098.96 299.779 C -1087.98 331.571 -1075.26 347.37 -1072.37 336.966 C -1069.48 326.561 -1076.42 289.952 -1092.79 268.565 C -1109.17 247.177 -1134.99 241.012 -1149.06 257.582 C -1163.12 274.152 -1165.43 313.459 -1158.3 337.158 C -1151.18 360.858 -1134.61 368.95 -1140.77 352.573 C -1146.94 336.195 -1175.84 295.347 -1195.68 285.906 C -1215.53 276.464 -1226.32 298.43 -1225.74 318.468 C -1225.16 338.507 -1213.22 356.618 -1216.11 346.214 C -1219 335.809 -1236.73 296.888 -1248.86 289.566 C -1261 282.245 -1267.55 306.522 -1266.59 327.332 C -1265.63 348.141 -1257.15 365.482 -1260.04 354.885 C -1262.93 344.287 -1277.19 305.752 -1289.52 299.586 C -1301.85 293.42 -1312.26 319.625 -1310.71 341.205 C -1309.17 362.785 -1295.68 379.74 -1286.05 349.682 C -1276.42 319.624 -1270.64 242.553 -1234.41 241.975 C -1198.19 241.397 -1131.52 317.312 -1129.6 363.941 C -1127.67 410.569 -1190.48 427.91 -1233.45 384.172 C -1276.42 340.434 -1299.54 235.616 -1291.45 171.069 C -1283.35 106.521 -1244.05 82.2437 -1212.83 85.9045 C -1181.62 89.5653 -1158.5 121.165 -1168.32 137.735 C -1178.15 154.306 -1220.93 155.847 -1257.92 142.36 C -1294.91 128.872 -1326.13 100.356 -1321.7 83.0145 C -1317.27 65.6733 -1277.19 59.5077 -1250.98 68.949 C -1224.78 78.3903 -1212.45 103.439 -1219.19 96.1168 C -1225.94 88.795 -1251.75 49.103 -1243.08 32.918 C -1234.41 16.733 -1191.25 24.055 -1164.28 38.506 C -1137.3 52.957 -1126.51 74.537 -1129.4 81.8587 C -1132.29 89.1803 -1148.86 82.2437 -1151.18 67.7927 C -1153.49 53.3417 -1141.54 31.3763 -1123.82 25.9813 C -1106.09 20.5863 -1082.58 31.7617 -1069.29 52.9563 C -1055.99 74.151 -1052.91 105.365 -1052.72 99.1993 C -1052.52 93.0337 -1055.22 49.4883 -1038.46 29.6425 C -1021.7 9.79667 -985.472 13.6503 -963.314 20.0087 C -941.156 26.367 -933.063 35.23 -922.466 32.9178 C -911.869 30.6057 -898.766 17.1183 -877.572 17.8892 C -856.377 18.66 -827.09 33.689 -800.308 33.689 C -773.525 33.689 -749.248 18.66 -716.492 16.9258 C -683.737 15.1917 -642.503 26.7523 -610.519 26.5597 C -578.534 26.367 -555.798 14.421 -579.883 18.8527 C -603.968 23.2843 -674.873 44.0937 -671.791 44.8643 C -668.708 45.635 -591.636 26.367 -519.189 41.5887 C -446.742 56.8103 -378.919 106.522 -333.061 106.136 C -287.204 105.751 -263.311 55.269 -226.51 47.1763 C -189.708 39.0837 -139.997 73.3803 -104.929 73.9583 C -69.862 74.5363 -49.438 41.3957 -68.8985 99.1995 C -88.359 157.003 -147.704 305.752 -142.116 309.991 C -136.529 314.23 -66.0083 173.959 -30.7482 103.824 C 4.512 33.689 4.512 33.689 4.512 33.689 C 4.512 33.689 4.512 33.689 -8.59017 55.6543")
}
body{
    overflow-x: hidden;
    touch-action: pan-y pinch-zoom; overflow-x:;
/*    no horizontal scrolling */
}
@keyframes drunkFlying {
    0% {
        offset-distance: 0%;
    }
    10%{
        transform: scale(.9);
    }
    12%{
        transform: scale(.95);
    }
    16%{
        transform: scale(1.1);
    }
    18%{
        transform: scale(1);
    }
    100% {
        offset-distance: 100%;
    }
}

.drunkBee2:hover,.drunkBee:hover{
    animation: drunkFlying 75s infinite linear, spin2 2s ease-in-out;
}
@keyframes spin2{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.drunkBee2:active,.drunkBee:active {
    transform: scale(1.1);
user-select: none;
}