/*https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries*/
/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
#carouselAutoplaying {
    width: 50%;
}
.card{
    min-width: 300px;
}
@media only screen and (orientation:portrait ) {
    #carouselAutoplaying {
    width: 90% !important;
    }
    .card{
        min-width: 90vw;
    }
}
