/* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */
/*https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries*/
/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
#carouselAutoplaying {
    width: 50%;
}
.card{
    min-width: 300px;
}
.card:hover, .card:focus{
    animation: 1s infinite cardAnimate linear;
}
@media only screen and (orientation:portrait ) {
    #carouselAutoplaying {
    width: 90% !important;
    }
    .card{
        min-width: 300px;
    }
}

@keyframes cardAnimate {
0%{
    transform: rotateZ(0deg);
}

20%{
    transform: rotate(-10deg);
}
    40%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-10deg);
    }
80%{
    transform: rotate(10deg);
}
    100%{
        transform: rotate(0deg);
    }
}
/* START OF PAGE ANIMATION CODE */
body{

   transform: rotateY(91deg);

}
body.loaded{
    transform: rotateY(0deg) !important;
}
/* END oF PAGE ANIMATION CODE */