
/* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */
/* START OF PAGE ANIMATION CODE */
body::before{
backdrop-filter:blur(1.15px)contrast(20000) sepia(20%);
    transition: 2s;

}

body.loaded::before{
    backdrop-filter:blur(1.15px) contrast(1) sepia(0)!important
}
/* END oF PAGE ANIMATION CODE */