/* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */

/* START OF PAGE ANIMATION CODE */
body{
    transform: scaleX(10);
    position: relative;
}
body.loaded{
    transform: scaleX(1); ;
}
/* END oF PAGE ANIMATION CODE */

.rat{
    display: none;
    position: absolute;
    top: 0;
    left: 75%;
    transition: 5s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    z-index: -1;
width: 100px;
}