/* DEVELOPER: Benjamin Shuster, IS117-002, Spring 2023 */
/* START OF PAGE ANIMATION CODE */
body::before {
transition:  1s;
backdrop-filter: invert(1);

}
body{
background-color: black;
}
body.loaded::before{
    backdrop-filter:invert(0) blur(1.15px);
}
body.loaded{
    background-color: white;
}
/* END oF PAGE ANIMATION CODE */